{% macro render_field(fields) %}

<div class="table-responsive" style="overflow-y: scroll !important; height: 100vh; overflow-x: hidden;">
  <table id = "mytable" class="table table-bordred table-striped" action="POST">

    <!-- Table Head -->
    <thead>
      <tr>
        <th>
          <input type="checkbox" id="checkall" />
          <label for="checkall"></label>
        </th>
        <th>id</th>
        <th>File name</th>
        <th name ="lab">Label</th>
      </tr>
    </thead>

    <!-- Table Body -->
    <tbody>
      {% for num in fields %}
      <tr>
        <td>
          <input type="checkbox" class="checkthis" id="{{ loop.index }}" />
          <label for="{{ loop.index }}"></label>
        </td>
        <td scope="row">{{ loop.index }}</td>
        <td>{{ num }}</td>
      </tr>
      {% endfor %}
    </tbody>

<div style="width: 75%; margin-top: 40px !important;">
  <div class="row">
    <div class="input-field" style="display: flex; align-items: center;">
      <div style="margin: 10px !important;">
        <button class="btn waves-effect waves-light mysubmit" type="submit" name="action" >Submit</button>
      </div>
      <div class="input-field col s10">
        <input class="w3-check labelVal" value="" name="label" type="text">
        <label for="label">Type Label Here</label>
      </div>
    </div>
  </div>
</div>

</table>
</div>



{% endmacro %}
