{% extends "nav.html" %}
{% set active_page = "configure" %}
{% block content %}
<!-- Import navbar from parent -->
{% block nav %}{{ super() }}{% endblock %}

<!-- Begin Configure tab -->
<div class="container" style="width: 75%;">
  <div id="configure" class="tab-pane fade in active">
    <h3 class="text-center">Configure Classifier</h3>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body" style="text-align: left;">
        <samp class="text-left">
          #The [DEFAULT]<br>
          #The type of neural net to generate<br>
          #Settings for the chosen type will be stored under a<br>
          #section of the same name<br>
          model_type = convolutional_basic<br>
          [DEFAULT]<br>
          #The [DEFAULT]<br>
          #The type of neural net to generate<br>
          #Settings for the chosen type will be stored under a<br>
          #section of the same name<br>
          model_type = convolutional_basic<br>
          <br>
          [convolutional_basic]<br>
          #The number of convolutional blocks to use for the model<br>
          num_blocks = 4<br>
          The number of filters for these blocks (comma-separated list)<br>
          #If the size of this list is less than num_blocks, the last value<br>
          #will be used for the remaining values<br><br>

          num_filters = 16,8,8<br>
        </samp>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-block">Save</button>
  </div>
</div>

{% endblock %}
