{% extends "nav.html" %}
{% set active_page = "configure" %}
{% block content %}
<!-- Import navbar from parent -->
{% block nav %}{{ super() }}{% endblock %}

<!-- <script>
window.onload = function myFunction() {
    $("#jumbotron").hide();
}
</script> -->

{% if message %}
{% from "_messages.html" import render_messages %} <!-- import a macro to render table -->
{{ render_messages(flag, message) }}
{% endif %}

<div class="container"  style="margin-bottom: 50px;"">

<h3 class="center-align" style="margin-top: 40px;">Configure Classifier</h3>
<hr style="border-color: silver;">

<!-- Begin Configure tab -->
<div class="" style="margin-top:50px;">
  <div id="configure" class="tab-pane fade in active">

    <form action="{{ url_for('configure_timechange') }}" method="POST">
      <div class="row">

        <div style="display: flex; flex-wrap: wrap;">


        <div class="col s6">
          <h3>Model Type</h3>
          <hr style="border-color: silver;">
            <p>
              <input class="with-gap" name="model_type" type="radio" id="convolutional" value="convolutional"/>
              <label for="convolutional">Convolutional</label>
            </p>
            <p>
              <input class="with-gap" name="model_type" type="radio" id="rnn" value="rnn"/>
              <label for="rnn">RNN</label>
            </p>
        </div>

        <div class="col s6">
          <div class="input-field">
            <label class="sr-only" for="inlineFormInput">Number of Blocks</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="num_block" placeholder="64">
          </div>
          <div class="input-field">
            <label class="sr-only" for="inlineFormInput">Number of Filters</label>
            <input type="text" name="num_filters" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="32">
          </div>
          <div class="input-field">
            <label class="sr-only" for="inlineFormInput">Learning Rate</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="learning_rate" placeholder="32">
          </div>
        </div>
      </div>
      </div>
      <div class="center-align">
        <button class ="btn btn-primary waves-effect waves-light btn-block" type="" value="">Submit</button>
      </div>
    </form>
  </div>
</div>

</div>

{% endblock %}
