{% extends "nav.html" %}
{% set active_page = "FFTPreview" %}
{% block content %}
<!-- Import navbar from parent -->
{% block nav %}{{ super() }}{% endblock %}

<!-- <script>
window.onload = function myFunction() {
    $("#jumbotron").hide();
}
</script> -->

<!-- Begin FFT Preview tab -->
<div class="container" style="width: 75%;display:flex;justify-content:center;">
  <div id="FFTPreview" class="tab-pane fade in active" style="margin-top: 40px;">
    <h3 >FFT Preview</h3>
    <p class="text-center">Some content.</p>
  </div>
</div>

{% endblock %}
