<style>

.container-flex {
  display: flex;
  flex-direction: row;
}

.container-TD {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;

}

* {
  border-radius: 0 !important;
}

.nav-tabs > li, .nav-pills > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
  text-align:center;
}

</style>



<div style="margin-top: 100px;" class="container">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#loadFiles">Load Files</a></li>
    <li><a data-toggle="tab" href="#TransformData">Transform Data</a></li>
    <li><a data-toggle="tab" href="#FFTPreview">FFT Preview</a></li>
    <li><a data-toggle="tab" href="#Configure">Configure</a></li>
    <li><a data-toggle="tab" href="#Results">Results</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3 class="text-center">Welcome to TimeChange!</h3>
      <div style="width: 65%; margin: auto">
        <p class="text-justify">This project allows users to easily convert timeseries csv formatted
          data into fourier transform images and classify them using existing
          machine learning libraries without a deep knowledge of those tools.<br><br>
          To begin, click on the 'Load Files' tab to load and label your csv files!
        </p>
      </div>
    </div>
    <div id="loadFiles" class="tab-pane fade">
      <h3 class="text-center">Instructions</h3>
      <div style="margin-left: auto; text-align: center;">
        <div style="display: inline-block; text-align: left">

          Step 1) Click the "Select Files" button to select files from the filesystem<br>
          Step 2) Type a label into the following text box<br>
          Step 3) Click the files you want to apply this label to<br>
          Step 4) Repeat steps 2 and 3 until all files are labeled<br>
          Step 5) Click "Add to Project" button to add these labeled files to the project<br>

        </div>
      </div>
      <div style="width: 75%; text-align: left;">

        <button type="button" class="btn btn-primary">Select Files</button>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>File</th>
              <th>Label</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>file name</td>
              <td><input class="w3-check" placeholder="Insert label" type="text"></td>
            </tr>
            <tr>
              <td>file name</td>
              <td><input class="w3-check" placeholder="Insert label" type="text"></td>
            </tr>
            <tr>
              <td>file name</td>
              <td><input class="w3-check" placeholder="Insert label" type="text"></td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-primary">Add to Project</button>
      </div>
    </div>


    <!-- Begin Transform Data tab -->
    <div id="TransformData" class="tab-pane fade">
      <div style="width: 60%; margin: auto">
        <h3 class="text-center">Instructions</h3>
        <div >
          <p class="text-justify">
            Set parameters for the data transformation here.<br>
            Press "Transform Data" to start the data transformation.
          </p>
        </div>
      </div>
      <hr style="border-color: silver">
      <div style="margin-top: 45px; width: 80%;" class="container-flex container-TD">
        <div style="border-right: 1px solid silver; padding-right: 50px;">

          <h3>Columns to include</h3>

        </div>
        <div style="text-align: left;">
          <div class="container-TD">
            <div><h4 style="padding-right: 0px;">Method:</h4></div>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Select Method <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
              </ul>
            </div>
          </div>
          <div class="container-TD">
            <div><h4>Chunk Size:</h4></div>
            <div>
              <input style="width: 30%; margin: 0 auto;" class="w3-check" type="text">
            </div>
          </div>
          <div class="container-TD">
            <div><h4>FFT Size:</h4></div>
            <div>
              <input style="width: 30%; margin: 0 auto;" class="w3-check" type="text">
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-block">Transform Data</button>
        </div>
      </div>
    </div>
    <div id="FFTPreview" class="tab-pane fade">
      <h3>FFT Preview</h3>
      <p>Some content.</p>
    </div>
    <div id="Configure" class="tab-pane fade">
      <h3>Configure Classifier</h3>



      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body" style="text-align: left;">
          <samp class="text-left">
            #The [DEFAULT]<br>
            #The type of neural net to generate<br>
            #Settings for the chosen type will be stored under a<br>
            #section of the same name<br>
            model_type = convolutional_basic<br>
            [DEFAULT]<br>
            #The [DEFAULT]<br>
            #The type of neural net to generate<br>
            #Settings for the chosen type will be stored under a<br>
            #section of the same name<br>
            model_type = convolutional_basic<br><br>

            [convolutional_basic]<br>
            #The number of convolutional blocks to use for the model<br>
            num_blocks = 4<br>
            The number of filters for these blocks (comma-separated list)<br>
            #If the size of this list is less than num_blocks, the last value<br>
            #will be used for the remaining values<br><br>

            num_filters = 16,8,8<br>
          </samp>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-block">Save</button>




    </div>
    <div id="Results" class="tab-pane fade">
      <h3>Results</h3>
      <button type="button" style="width: 15%" class="btn btn-primary ">Train</button>


    </div>
  </div>
</div>
