{% extends "base.html" %}
{% block nav %}

<!-- <ul class="nav nav-tabs">
  <li class="{{ 'active' if active_page == 'home' else '' }}"><a href="{{url_for('home')}}">Home</a></li>
  <li class="{{ 'active' if active_page == 'loadFiles' else '' }}"><a href="{{url_for('loadFiles')}}">Load Files</a></li>
  <li class="{{ 'active' if active_page == 'transformData' else '' }}"><a href="{{url_for('transformData')}}">Transform Data</a></li>
  <li class="{{ 'active' if active_page == 'FFTPreview' else '' }}"><a href="{{url_for('FFTPreview')}}">FFT Preview</a></li>
  <li class="{{ 'active' if active_page == 'configure' else '' }}"><a href="{{url_for('configure')}}">Configure</a></li>
  <li class="{{ 'active' if active_page == 'results' else '' }}"><a href="{{url_for('results')}}">Results</a></li>
</ul> -->

<!--<ul  class="tabs tabs-fixed-width">
   <li class="tab col s3"><a class="{{ 'active' if active_page == 'home' else '' }}" href="{{url_for('home')}}">HOME</a></li>
   <li class="tab col s3"><a class="{{ 'active' if active_page == 'loadFiles' else '' }}" href="{{url_for('loadFiles')}}">LOAD FILES</a></li>
   <li class="tab col s3"><a class="{{ 'active' if active_page == 'transformData' else '' }}" href="{{url_for('transformData')}}">TRANSFORM DATA</a></li>
   <li class="tab col s3"><a class="{{ 'active' if active_page == 'FFTPreview' else '' }}" href="{{url_for('FFTPreview')}}">FFT PREVIEW</a></li>
   <li class="tab col s3"><a class="{{ 'active' if active_page == 'configure' else '' }}" href="{{url_for('configure')}}">CONFIGURE</a></li>
   <li class="tab col s3"><a class="{{ 'active' if active_page == 'results' else '' }}" href="{{url_for('results')}}">RESULTS</a></li>
 </ul>-->


<ul  class="tabs tabs-fixed-width">
   <li class="tab col s3"><a class="{{ 'active' if active_page == 'home' else '' }}" id= "home">HOME</a></li>
   <li class="tab col s3"><a class="{{ 'active' if active_page == 'loadFiles' else '' }}" id="loadFiles">LOAD FILES</a></li>
   <li class="tab col s3"><a class="{{ 'active' if active_page == 'transformData' else '' }}" id="mytransfromData">TRANSFORM DATA</a></li>
   <li class="tab col s3"><a class="{{ 'active' if active_page == 'FFTPreview' else '' }}" id="FFTPreview">FFT PREVIEW</a></li>
   <li class="tab col s3"><a class="{{ 'active' if active_page == 'configure' else '' }}" id="configure">CONFIGURE</a></li>
   <li class="tab col s3"><a class="{{ 'active' if active_page == 'results' else '' }}" id="results">RESULTS</a></li>
 </ul>

{% endblock %}
