{% extends "base.html" %}
{% block nav %}


<!-- TODO: Animate Header -->

<style type="text/css">
 a:hover {
  cursor:pointer;
  background: lightgrey !important;
 }

 ul {
   height: 100px !important;

 }

 a {
   display: flex !important;
   align-items: center !important;
   justify-content: center !important;
   color: black !important;
 }

 .tabs .tab {
   height: 100% !important;
 }

</style>



<div class="">
  <ul class="tabs tabs-fixed-width z-depth-2 grey lighten-5" style="font-weight: normal;">
     <li class="tab col s3"><a class=" {{ 'active' if active_page == 'home' else '' }}" id= "home">HOME</a></li>
     <li class="tab col s3"><a class=" {{ 'active' if active_page == 'loadFiles' else '' }}" id="loadFiles">LOAD FILES</a></li>
     <li class="tab col s3"><a class=" {{ 'active' if active_page == 'transformData' else '' }}" id="mytransfromData">TRANSFORM DATA</a></li>
     <li class="tab col s3"><a class=" {{ 'active' if active_page == 'FFTPreview' else '' }}" id="FFTPreview">FFT PREVIEW</a></li>
     <li class="tab col s3"><a class=" {{ 'active' if active_page == 'configure' else '' }}" id="configure">CONFIGURE</a></li>
     <li class="tab col s3"><a class=" {{ 'active' if active_page == 'results' else '' }}" id="results">RESULTS</a></li>
   </ul>


</div>

{% endblock %}
