{% extends "nav.html" %}
{% set active_page = "transformData" %}
{% block content %}
<!-- Import navbar from parent -->
{% block nav %}{{ super() }}{% endblock %}

<!-- Begin Transform Data tab -->
<div class="container" style="width: 75%;">
  <div id="transformData" class="tab-pane fade in active">
    <div>
      <h3 class="center-align">Instructions</h3>
      <div>
        <p class="text-center">
          Set parameters for the data transformation here.<br>
          Press "Transform Data" to start the data transformation.
        </p>
      </div>
    </div>
  </div>

  <hr style="border-color: silver">

  <!-- row: columns to include -->
  <div class="container" style="width: 75%;">
    <div class="row">
      <div class="col s6">
        <form action="#">
          <p>
            <input class="with-gap" name="transform" type="radio" value="nothing" id="nothing"/>
            <label for="nothing">Nothing</label>
          </p>
          <p>
            <input class="with-gap" name="transform" type="radio" value="test2" id="test2"/>
            <label for="test2">FFT</label>
          </p>
          <p>
            <input class="with-gap" name="transform" type="radio" value="test3"  id="test3"/>
            <label for="test3">Spectrogram</label>
          </p>
        </form>
      </div>

      <div class="col s6">
        <form class="form-inline">
          <label class="sr-only" for="inlineFormInput">Enter FFT Size</label>
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="128">

          <label class="sr-only" for="inlineFormInput">Enter Chunk Size</label>
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="64">
        </form>
      </div>

    </div>
  </div>
  <div style="display:flex;justify-content:center;margin-top:2%;">
    <button type="button" class="btn btn-primary btn-block " style="width: 20%;">Transform Data</button>
  </div>

</div>

  {% endblock %}
