{% extends "nav.html" %}
{% set active_page = "transformData" %}
{% block content %}
<!-- Import navbar from parent -->
{% block nav %}{{ super() }}{% endblock %}

<script>
window.onload = function myFunction() {
    $("#jumbotron").hide();
}
</script>


{% if message %}
{% from "_messages.html" import render_messages %} <!-- import a macro to render table -->
{{ render_messages(flag, message) }}
{% endif %}


<!-- Begin Transform Data tab -->
<div class="container">


<div id="transformData" class="tab-pane fade in active">
  <div style="margin: auto">
    <h3 class="center-align" style="margin-top: 40px;">Instructions</h3>
    <div >
      <div class="container">
        <p >
          Set parameters for the data transformation here.<br>
          Press "Transform Data" to start the data transformation.
        </p>
      </div>
    </div>
  </div>

  <hr style="border-color: silver;">

  <!-- row: columns to include -->
  <div class="" style="margin-top:50px">

    <!-- Begin form to submit all data on page -->
    <!-- TODO: Implement WTForms - maybe -->
    <form action="{{ url_for('transform_data_timechange') }}" method="POST">
      <div class="row">

        <div class="col s6">
          <h4 class="text-center">Transform Type</h4>
            <p>
              <input class="with-gap" name="options" type="radio" id="none" value="none" />
              <label for="none">None</label>
            </p>
            <p>
              <input class="with-gap"name="options" type="radio" id="FFT" value="fft" />
              <label for="FFT">FFT</label>
            </p>
            <p>
              <input class="with-gap" name="options" type="radio" id="spectrogram" value="spectrogram" />
              <label for="spectrogram">Spectrogram</label>
            </p>
        </div>

        <div class="col s6">
          <div class="form-inline">
            <label class="sr-only" for="inlineFormInput">FFT Size</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" name="fft_size" placeholder="64">

            <label class="sr-only" for="inlineFormInput">Chunk Size</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" name="chunk_size" placeholder="32">

            <label class="sr-only" for="inlineFormInput">Columns (Comma Separated)</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" name="columns" placeholder="1, 2, 3">
          </div>
        </div>
      </div>

      <div class="center-align">
        <button class ="btn btn-primary waves-effect waves-light" type="" value="">Submit</button>
      </div>

    </form>
  </div>

</div>

{% endblock %}
