{% extends "nav.html" %}
{% set active_page = "transformData" %}
{% block content %}
<!-- Import navbar from parent -->
{% block nav %}{{ super() }}{% endblock %}


<!-- Begin Transform Data tab -->
<div class="container">


<div id="transformData" class="tab-pane fade in active">
  <div style="width: 75%; margin: auto">
    <h3 class="center-align" style="margin-top: 40px;">Instructions</h3>
    <div >
      <div class="container">
        <p >
          Set parameters for the data transformation here.<br>
          Press "Transform Data" to start the data transformation.
        </p>
      </div>
    </div>
  </div>

  <hr style="border-color: silver; width: 75%;">

  <!-- row: columns to include -->
  <div class="container" style="width: 75%; margin-top:50px">
    <form action="" method="POST">
      <div class="row">

        <div class="col s6">
          <h4 class="text-center">Transform Type</h4>
            <p>
              <input class="with-gap" name="group1" type="radio" id="none" />
              <label for="none">None</label>
            </p>
            <p>
              <input class="with-gap"name="group1" type="radio" id="FFT" />
              <label for="FFT">FFT</label>
            </p>
            <p>
              <input class="with-gap" name="group1" type="radio" id="spectrogram"  />
              <label for="spectrogram">Spectrogram</label>
            </p>
        </div>

        <div class="col s6">
          <div class="form-inline">
            <label class="sr-only" for="inlineFormInput">FFT Size</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" name="fft_size" placeholder="64">

            <label class="sr-only" for="inlineFormInput">Chunk Size</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" name="chunk_size" placeholder="32">

            <label class="sr-only" for="inlineFormInput">Columns (Comma Separated)</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" name="columns" placeholder="1, 2, 3">
          </div>
        </div>
      </div>

      <div class="row" style="width: 100%;">
          <button type="button" class="btn btn-primary btn-block" style="margin:auto !important; margin-top: 40px !important; color: white !important">Transform Data</button>
      </div>
    </form>
  </div>

</div>

{% endblock %}
